.nav-bar-ul {
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 80px;
}

.nav-bar-ul li {
    list-style-type: none;
    text-align: center;
    margin: 0 10px 0 10px;
}

.nav-bar a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}